#root {
  padding: 2rem 3rem; 
}

.summary-grid-container {
  --section-gap: 20px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  row-gap: var(--section-gap);
  width: min(1200px, calc(100vw - 6rem));
  height: min(90vh, 700px);
}

.grid-top-row, 
.grid-bottom-row {
  display: flex;
  flex-direction: row;
  gap: var(--section-gap);
}

.grid-section {
  background-color: var(--color-grid-background);
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  box-shadow: -2px 4px 4px rgba(0, 0, 0, 0.5);
} 

.icon-button {
  color: var(--color-light-text);
  height: 35px;
  width: 35px;
  background-color: transparent;
  border: none;
  will-change: transform;
  transition: transform 300ms;
}

.icon-button:hover {
  transform: scale(1.125);
}

.icon-fg {
  color: var(--color-grid-background);
}

#contact {
  text-decoration: none;
  color: var(--color-light-text); 
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='25' ry='25' stroke='%23D0D0C6' stroke-width='3' stroke-dasharray='4%2c 8' stroke-dashoffset='4' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 25px;
  padding: 10px 18px;
  display: flex;
  flex-direction: row; 
  gap: 6px;
  justify-content: center;
  font-size: var(--text-size-header);
  will-change: transform;
  transition: transform 300ms;
}

#contact:hover {
  transform: scale(1.05);
}

.icon {
  width: 35px;
  height: 35px;
  color: inherit;
}