#root {
  padding: 2rem 3rem;
  height: 100%;
}

.summary-grid-container {
  --section-gap: 20px;
  display: flex;
  flex-direction: column;
  gap: var(--section-gap);
  height: 90vh;
  width: 90vw;
  max-height: 700px;
  max-width: 1200px;
}

.grid-top-row {
  display: flex;
  flex-direction: row;
  gap: var(--section-gap);
  height: 50%;
  width: 100%;
}

.grid-bottom-row {
  display: flex;
  flex-direction: row;
  gap: var(--section-gap);
  height: 50%;
  width: 100%;
}

.grid-section {
  background-color: var(--color-grid-background);
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  box-shadow: -2px 4px 4px rgba(0, 0, 0, 0.5);
} 
