@use '../../styles/breakpoints.scss' as bp;

.build {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  place-content: center;
}

.build.hovered {
  cursor: pointer;
}

.build-label,
.build-detail {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.build-label {
  gap: 15px;

  /* Describes label entering view */
  transition: opacity 800ms ease, transform 800ms ease;
  transition-delay: 300ms;
  opacity: 1;
  transform: translateX(0);
  pointer-events: none;
}

.build.hovered .build-label {
  /* Describes label exiting view */
  opacity: 0;
  transform: translateX(-20px);
  transition: opacity 300ms ease, transform 300ms ease;
}

.build-detail {
  color: var(--color-light-text);
  gap: 10px;

  /* Describes details exiting view */
  visibility: hidden;
  opacity: 0;
  transform: translateX(40px);
  visibility: hidden;
  pointer-events: none;
  transition:
    opacity 300ms ease,
    transform 300ms ease,
    visibility 0s linear 300ms;
}

.build.hovered .build-detail {
  /* Describes details entering view */
  opacity: 1;
  transform: translateX(0);
  visibility: visible;
  pointer-events: auto;
  transition:
    opacity 300ms ease,
    transform 300ms ease,
    visibility 0s linear 0s;
  transition-delay: 300ms;
}

@media (prefers-reduced-motion: reduce) {
  .build-label,
  .build-detail {
    transition: none !important;
    transform: none !important;
  }
}

@media (max-width: bp.$small) {
  .build-detail {
    position: static;
    line-height: normal;
    font-size: calc(var(--text-size-header) - 0.1rem);
  }
}