.experience {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
}

/* .ribbon-shape {
  transform-box: fill-box;
  transform-origin: center;
}

.experience.hovered .ribbon-shape {
  animation: spin 30s ease-out 1;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */