@use '../../styles/breakpoints.scss' as bp;

.skills {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: column;
  grid-template-rows: repeat(4, auto);
  align-items: center;
  justify-items: center;
  row-gap: 25px;
  width: 100%;

  /* Describes transition back to label */
  color: var(--color-faded-light-text);
  transition: color 300ms linear;

  .divider {
    background-color: var(--color-faded-light-text);
    transition: background-color 300ms linear;
  }
}

.divider {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 75px;
  width: 1px;
  transform: translate(-50%, -50%);

  .outer-dot, .inner-dot {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }
  
  .outer-dot {
    height: 7px;
    width: 7px;
    background-color: var(--color-grid-background);
    z-index: 5;
  }

  .inner-dot {
    height: 3px;
    width: 3px;
    background-color: inherit;
    z-index: 10;
  }
}

.skills.hovered {
  color: var(--color-slightly-faded-light-text);
  transition: color 300ms linear;

  .divider {
    background-color: var(--color-slightly-faded-light-text);
    transition: background-color 300ms linear;
  }
}

@media (prefers-reduced-motion: reduce) {
  .skills,
  .skills.hovered {
    transition: none;

    .divider {
      transition: none;
    }
  }
}

@media (min-width: #{bp.$medium_1 + 1}) and (max-width: bp.$medium-2) {
  .skills {
    grid-auto-flow: row;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(4, auto);

    .divider {
      transform: translate(-50%, -50%) rotate(90deg);
    }
  }
}
