.skills {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: column;
  grid-template-rows: repeat(4, auto);
  align-items: center;
  justify-items: center;
  row-gap: 25px;
  width: 100%;

  /* Describes transition back to label */
  color: var(--color-faded-light-text);
  transition: color 600ms linear;

  .divider {
    background-color: var(--color-faded-light-text);
    transition: background-color 600ms linear;
  }
}

.skills.hovered {
  color: var(--color-slightly-faded-light-text);
  transition: color 300ms linear;

  .divider {
    background-color: var(--color-slightly-faded-light-text);
    transition: background-color 300ms linear;
  }
}

